* {
    --seagreen: #6c8c79;
    --text-hover: #f8b230;
    --nav-hover: #7cbe99;
    --grey-background: #F6F6F6;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    padding: 20px;
    margin: 0;
}