* {
    --seagreen: #6c8c79;
    --text-hover: #ff5d00;
    --text-hover-2: #ff0073;
    --nav-hover: #7cbe99;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    padding: 20px;
    margin: 0;
}