* {
    --seagreen: #6c8c79;
    --text-hover: #f8b230;
    --nav-hover: #7cbe99;
    --background-grey: #F6F6F6;
    font-family: 'Underdog', cursive;
}

h2 {
    padding: 20px;
    margin: 0;
}

body {
    background-image: url("@/assets/canva.png");
}