* {
    --seagreen: #6c8c79;
    --text-hover: #f8b230;
    --nav-hover: #63987a;
    --background-grey: #F6F6F6;
    font-family: 'Underdog', cursive;
}

body {
    position: relative;
    background-image: url("@/assets/canva.png");
}

h1 {
    font-size: calc(18px + 18 * (100vw / 1280));
}

h2 {
    margin: 0;
    padding: 2% 0;
    text-align: center;
    justify-self: center;
    font-size: calc(18px + 12 * (100vw / 1280));
}

h2::before {
    content: '';
    background-image: url("@/assets/line.png");
    transform: rotate(180deg);
    width: 20%;
    height: 8vh;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;

}

h2::after {
    content: '';
    background-image: url("@/assets/line.png");
    width: 20%;
    height: 8vh;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

@media screen and (max-width: 424px){

}

h3 {
    font-size: calc(16px + 8 * (100vw / 1280));
}

p,
span {
    font-size: calc(12px + 6 * (100vw / 1280))
}
